@model OnlineShoppingStore.Domain.Entities.Product

<div class="well">

    <h3><strong>  @Html.DisplayFor(modelItem => modelItem.Name)  </strong></h3>
    <span>
        Price:  @Html.DisplayFor(modelItem => modelItem.Price)
    </span><br />
    <span>
        Category: @Html.DisplayFor(modelItem => modelItem.Category)
    </span><br />
    @using (Html.BeginForm("AddToCart","Cart"))
    { 
        <div class="pull-right">
            @Html.HiddenFor(x=>x.ProductId)
            @Html.Hidden("returnUrl",Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="Add to cart"/>
        </div>
    }

    <span class="label label-primary">
        @Html.DisplayFor(modelItem => modelItem.Description)
    </span>
</div>